
<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/admin/courses"><i class="fas fa-angle-double-left"></i> All Courses</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Course</h2>
            <span class="text-dark">Use the below form to Update a Course</span>
        </div>

        <!-- add course form -->
         <!-- form handling -->
 <form method="POST" id="update_course">
    <div class="new_course">
        <div class="form-group">
            <label for="name" class="">Name</label>
            <input type="hidden" name="id" value="<%= course._id %>">
            <input type="text" name="name" value="<%= course.name %>">
        </div>
        <div class="form-group">
            <label for="Description" class="">Description</label>
            <input type="text" name="description" value="<%= course.description%>" >
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->
