 <!-- form handling -->
 <form action="/api/courses" method="POST" id="add_course">
    <div class="new_course">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="description" class="text-dark">Description</label>
            <input type="text" name="description" value="">
        </div>
        <div>
            <label for="subcriteria" class="text-dark">Listening</label>
            <select name="listeningId" class="form-control" id="">
                <% for(var i = 0; i < listeningSC.length; i++) { %>
                <option value="<%= subcriterias[i]._id %>"><%= i + 1 %> . <%= listeningSC[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="subcriteria" class="text-dark">Reading</label>
            <select name="readingId" class="form-control" id="">
                <% for(var i = 0; i < readingSC.length; i++) { %>
                <option value="<%= subcriterias[i]._id %>"><%= i + 1 %> . <%= readingSC[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="subcriteria" class="text-dark">Spoken Interaction</label>
            <select name="spokenInteractionId" class="form-control" id="">
                <% for(var i = 0; i < spokenInteractionSC.length; i++) { %>
                <option value="<%= subcriterias[i]._id %>"><%= i + 1 %> . <%= spokenInteractionSC[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="subcriteria" class="text-dark">Spoken Production</label>
            <select name="spokenProductionId" class="form-control" id="">
                <% for(var i = 0; i < spokenProductionSC.length; i++) { %>
                <option value="<%= subcriterias[i]._id %>"><%= i + 1 %> . <%= spokenProductionSC[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="subcriteria" class="text-dark">Writing</label>
            <select name="writingId" class="form-control" id="">
                <% for(var i = 0; i < writingSC.length; i++) { %>
                <option value="<%= subcriterias[i]._id %>"><%= i + 1 %> . <%= writingSC[i].name %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn update">Save</button>
        </div>

    </div>
</form> 

