<% for(var i = 0; i < criterias.length; i++) { %>
    <tr>
        <td class="text-center"><%= i + 1 %></td>
        <td><%= criterias[i].name %></td>
        <td class="text-center"><%= criterias[i].weight %></td>
        <td class="text-center">
            <a href="/admin/criterias/update-criteria?id=<%= criterias[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= criterias[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>